@import "partials/ZoomEffectMobile.css";
@import "partials/variables.css";
body{margin:0;background-image:url("../images/BG.png");width:100%;}
#GraphicDesignButton {display:none;position:absolute;left:2%;}
#GeneralReelButton {display:none;position:absolute;left:80%;}
#bodyContents{width:100%;margin:0 auto;overflow-y:hidden;}
#bodyContentsMyWork h1, h1, .TitlesForOther h2, #AboutMe{color:#a2b8eb;font-family:'Oxygen', sans-serif;}
#Resume h1, #Resume h2, #Resume h3{color:#a2b8eb;font-family:'Oxygen', sans-serif;}
h1{font-size:25px;padding-top:6%;text-align:center;}
#bodyContentsMyWork h1{font-size:36px;padding-top:30px;}
#Logo{float:left;position:relative;display:inline-block;padding:20px 0px 2% 18%;}
#Logo img{width:20vw;}
nav{display:inline-block;padding-top:5vw;padding-left:4%;}
nav a:link{color:white;text-decoration:none;}
nav a:visited{color:white;}
nav a:hover{color:#7872fa;}
nav ul{padding-left:0px;}
nav ul li{display:inline;padding-left:4vw;font-family:'Raleway', sans-serif;color:white;font-size:3vw;}
iframe{clear:both;width:100%;text-align:center;}
#fullscreenvideo, #tabletscreenvideo{display:none;}
#phonescreenvideo{display:block;}
#phonescreenvideo iframe{max-width:100vw;height:52vw;border:none;}
#HyperlinkedImageWithEffects{display:none;}
#HyperlinkedImageWithOutEffects{}
.TitlesForOther h2{font-size:16px;padding-top:27px;text-align:center;}
.AnimationWords h2{padding-top:0px;}
#AboutMe{padding-top:20px;font-size:15px;}
#AboutMe img{width:49%;margin:auto;display:block;}
#AboutMe p{text-indent:50px;width:85%;padding-left:8%;font-size:3.6vw;}
#BottomLinks{clear:both;}
#BottomLinks p{color:white;font-family:'Oxygen', sans-serif;font-size:18px;text-align:center;padding-top:20px;}
#BottomLinks a:link{color:#ca6f6f;text-decoration:none;}
#BottomLinks a:visited, #BottomLinks a:hover{color:#ca6f6f;}
#Buttons{padding-bottom:30px;text-align:center;width:80%;margin-left:10%;}
#Buttons img{width:19%;}
.ButtonPadding{padding-left:8px;}
#ResumeWidth{width:97%;margin-left:1.5%;}
.Effect1{width:85%;margin-left:7%;}
.Effect3 img{width:48%;}
.Effect4 img{width:48%;}
.Effect5 img{width:48%;}
.Effect{width:85%;padding-left:7%;}
.Effect1 img, .Effect img{width:100%;}
.Effect2{width:85%;padding-left:7%;}
.Effect2 img{width:100%;}
.clearfix{clear:both;}
.Effect3{margin-left:11.5%;margin:auto;}
.Effect4, .Effect5{margin:auto;}
.Effect6{float:left;margin-left:36.5%;}
.FloatLeft img{float:left;margin-left:1.5%;margin-bottom:1%;}
.FloatRight img{float:right; margin-right:1.5%;margin-bottom:1%;}
.PastReels iframe{margin-left:4%;width:43%;height:auto;border:2px solid gray;}
#Resume{color:white;margin-top:7%;background-color:rgba(0, 0, 0, 0.3);padding:0px 20px 20px 20px;}
#Resume a:link, #Resume a:visited{color:white;}
#Resume a:link{text-decoration:none;}
#Resume a:hover{color:#497ae9;}
#Resume ul{list-style-type:none;padding-left:0px;}
#Resume h2{font-size:5vw;margin:0px 0px 0px 0px;padding-top:0px;}
#Resume h3{font-size:4vw;}
#Resume h4, #Resume h5, #Resume p, #Resume ul{font-family:Arial, sans-serif;}
#Resume h4{font-size:2.9vw;}
#Resume h5{font-size:2.8vw;}
#Resume p{padding-top:5px;}
#Resume li{padding-top:2px;padding-left:30px;font-size:2.8vw;}
#Breakdown ul{text-indent:50px;width:50%;display:inline-block;}
#Breakdown h2, #Breakdown p{color:#a2b8eb;font-family:'Oxygen', sans-serif;}
.indent{padding-left:10px;}
#Sketch, #LowPoly, #Asylum, #NHLLogos, #Code, #WorkBench, #Poster, #Birds, #DragonWolf, #RiseofPyramids, #NHLGraphics, #BasketballBroadcast, #Homer, #TwoWorlds, #Alien, #Gun, #Car, #Gavin, #Snowman, #Buzz{font-family:'Oxygen', sans-serif;color:#a2b8eb;font-size:4vw;}
#LowPoly{margin-left:8%;}
#LowPoly p{width:93%;}
#Asylum{margin-left:3%;}
#Asylum img{width:97%;}
#Asylum p{width:93%;padding-bottom:20px;}
#NHLLogos{margin-left:3%;}
#NHLLogos img{width:97%;}
#NHLLogos p{width:98%;}
#NHLLogos iframe{width:95%;margin-left:0%;border:2px solid gray;}
#Code{margin-left:3%;}
#Code img{width:97%;height:auto;}
#Code p{width:94%;padding-bottom:20px;}
#WorkBench p{width:85%;padding-bottom:20px;margin:auto;display:block;}
#WorkBench img{width:90%;margin:auto;display:block;margin-bottom:4%;}
#Poster{margin-top:5%;}
#Poster img{margin:auto;width:90%;display:block;padding-bottom:5%;}
#Poster p{margin:auto;width:90%;padding-bottom:20px;}
#Birds{margin-top:2%;float:left;}
#Birds img{margin-left:4.5%;width:91%;}
#Birds p{clear:both;width:91%;margin-left:5%;}
#DragonWolf img{width:100%;}
#NHLGraphics img{width:48%;float:left;margin-left:1%;margin-bottom:1%;}
#NHLGraphicsPoster1Left img{width:100%;margin-left:1%;}
#NHLGraphicsPoster1Left {width:55.5%;float:left;}
#NHLGraphicsPoster1Right {width:43%;float:right;}
#NHLGraphicsPoster1Right img{width:99%;}
#RiseofPyramidsSmall img{width:48%;float:left;margin-left:1%;margin-bottom:1%;}
#RiseofPyramidsBig img{width:100%;}
#Homer img{margin:auto;display:block;width:95%;}
#Homer iframe{border:2px solid gray;}
#Homer p{width:88%;padding-bottom:20px;margin-left:6%;}
#TwoWorlds iframe{width:91%;margin-left:4%;border:2px solid gray;}
#TwoWorlds img{margin:auto;display:block;height:92%;width:92%;}
#TwoWorlds p{width:95%;padding-top:20px;margin:auto;}
#AlienFullRenders img {height=:100%;width:100%;}
#Alien img{width:80%;padding-left:10%;}
#AlienFloatLeft img{height=:100%;}
#AlienFloatRight img{height=:100%;}
#Alien p{width:92%;padding-bottom:30px;margin:auto;}
#FrogImages{height:98%;}
#Gun{margin-left:2.5%;width:95%;}
#Gun img{width:100%;}
.ShipFullImages img{width:100%;}
.ShipFloatLeft img{width:49.5%}
.ShipForPhone img{width:49.5%}
#Car{margin-left:8%;}
#Sketch {margin-left:8%;}
#Sketch img, #Sketch p{width:90%;}
#FirstCarImage img{width:50%;height:50%;}
#Car p, #Car img{width:90%;}
#SketchRenders{width:100.5%;height:100.5%;}
#SnowmanPadding img, #SnowmanPadding2 img{width:80%;margin:auto;display:block;}
#Gavin, #Buzz{margin-left:11%;}
#BuzzPictures img{margin:auto;width:89%;}
#BuzzPictures2 img{margin:auto;width:98%;}
#GavinPictures img{margin:auto;width:96.5%;}
#GavinPictures2 img{width:107%;}
#Gavin, #Buzz p{width:82%;padding-bottom:20px;}
#Snowman p{width:82%;padding-bottom:20px;margin-left:12vw;}